<div class="home_page_container">
  <div class="main_logo_container">
    <div class="main_logo">
      <div class="menubar">
        <div class="main_button_container">
          <div class="linkedin_button_container">
            <a href="https://www.linkedin.com/in/roderickdevelopers/">{{fa-icon "linkedin" size=1 style="color: black;"}}</a>
          </div>
          <div class="github_button_container">
            <a href="https://github.com/roderickdevelopers/">{{fa-icon "github" size=1 style="color: black;"}}</a>
          </div>
        </div>
      </div>
      <div class="hero_image_container">
        <img src="assets/images/headertwo.jpg" alt="Roderick Developers" />
      </div>
      <div class="ember_conf">
        <LinkTo @route="emberconf">2020 Ember Conference<hr/>Experience <span>&#11088; &#11088; &#11088; &#11088; &#11088;</span></LinkTo>
      </div>
    </div>
  </div>

  <Body />
</div>





