<div class="home_page_container">
  <div class="main_logo_container">
    <div class="main_logo">
      <div class="menubar">
        <div class="logo_container">
          <div class="contact_info">
            <h4>Roderick Developers</h4>
          </div>
        </div>
           <div class="navigation_menu">
             <ScrollTo @target='#my_skills' @duration="1000">
               <span class="txt" style="cursor:pointer">My Skills</span>
             </ScrollTo>
             <ScrollTo @target='#my_projects' @duration="1000">
               <span class="txt" style="cursor:pointer">My Projects</span>
             </ScrollTo>
             <ScrollTo @target='#my_skills' @duration="1000">
               <span class="txt" style="cursor:pointer">My Blog</span>
             </ScrollTo>
           </div>
        <div class="main_button_container">
          <div class="linkedin_button_container">
            <a href="https://www.linkedin.com/in/roderickdevelopers/">{{fa-icon "linkedin"  style="color: black;"}}</a>
          </div>
          <div class="github_button_container">
            <a href="https://github.com/roderickdevelopers/">{{fa-icon "github"  style="color: black;"}}</a>
          </div>
          <div class="twitter_button_container">
            <a href="https://twitter.com/Roderickdev">{{fa-icon "twitter" style="color: black;"}}</a>
          </div>
        </div>
      </div>
      <div class="hero_image_container">
        <div class="typing">
          <p>
            Hello,
          </p>
          <p>
            My Name is Matthew Roderick.
          </p>
          <p>
            I am a Jr. Developer!
          </p>
        </div>
      </div>
      <div class="down_arrow_container">
        <ScrollTo @target='#ember_conf' @duration="1000">
           <div class="down_arrow_main_text">
              <h3>Learn More</h3>
            </div>
          <div class="down_arrow_main">
            <img alt="down"
              src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNC4yODUsMTEuMjg0TDE2LDE5LjU3MWwtOC4yODUtOC4yODhjLTAuMzk1LTAuMzk1LTEuMDM0LTAuMzk1LTEuNDI5LDAgIGMtMC4zOTQsMC4zOTUtMC4zOTQsMS4wMzUsMCwxLjQzbDguOTk5LDkuMDAybDAsMGwwLDBjMC4zOTQsMC4zOTUsMS4wMzQsMC4zOTUsMS40MjgsMGw4Ljk5OS05LjAwMiAgYzAuMzk0LTAuMzk1LDAuMzk0LTEuMDM2LDAtMS40MzFDMjUuMzE5LDEwLjg4OSwyNC42NzksMTAuODg5LDI0LjI4NSwxMS4yODR6IiBmaWxsPSIjMTIxMzEzIiBpZD0iRXhwYW5kX01vcmUiLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjxnLz48L3N2Zz4=" />
          </div>
        </ScrollTo>
      </div>
      <div class="mobile_image_container">
        <div class="typing">
          <p>
            Hello,
          </p>
          <p>
            My Name is Matthew Roderick.
          </p>
          <p>
            I am a Jr. Developer!
          </p>
        </div>
      </div>
      {{#if (or (media 'isSm') (media 'isMd'))}}
      <div class="down_arrow_container">
        <ScrollTo @target='#ember_conf' @duration="1000">
          <div class="down_arrow_mobile">
            <img alt="down"
              src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNC4yODUsMTEuMjg0TDE2LDE5LjU3MWwtOC4yODUtOC4yODhjLTAuMzk1LTAuMzk1LTEuMDM0LTAuMzk1LTEuNDI5LDAgIGMtMC4zOTQsMC4zOTUtMC4zOTQsMS4wMzUsMCwxLjQzbDguOTk5LDkuMDAybDAsMGwwLDBjMC4zOTQsMC4zOTUsMS4wMzQsMC4zOTUsMS40MjgsMGw4Ljk5OS05LjAwMiAgYzAuMzk0LTAuMzk1LDAuMzk0LTEuMDM2LDAtMS40MzFDMjUuMzE5LDEwLjg4OSwyNC42NzksMTAuODg5LDI0LjI4NSwxMS4yODR6IiBmaWxsPSIjMTIxMzEzIiBpZD0iRXhwYW5kX01vcmUiLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjxnLz48L3N2Zz4=" />
          </div>
        </ScrollTo>
      </div>
      {{/if}}
    </div>
  </div>
  <div class="ember_conf" id="ember_conf">
    <p>Ember Conference 2020 Experience</p>
    <div class="learn_more">
      <LinkTo @route="emberconf">Learn More ></LinkTo>
    </div>
  </div>

  <Body />
</div>
