<div class="main_logo_container">
  <div class="main_logo">
    <img src="assets/images/headerone.png" alt="Roderick Developers" />
  </div>
</div>

<div class="body_main_container">
    <Body />
</div>





