<div class="main_logo_container">
  <div class="main_logo">
    <div class="menubar">
      Roderick Developers
      <div class="main_button_container">
        <div class="linkedin_button">
          <a href="https://www.linkedin.com/in/roderickdevelopers/">{{fa-icon "linkedin" size=1 style="color: black;"}}</a>
        </div>
        <div class="github_button">
          <a href="https://github.com/roderickdevelopers/">{{fa-icon "github" size=1 style="color: black;"}}</a>
        </div>
      </div>
    </div>
    <img src="assets/images/headerone.png" alt="Roderick Developers" />
  </div>
</div>

<div class="body_main_container">

  <Body />
</div>





