{{#paper-toolbar}}
   {{#paper-toolbar-tools}}
     {{#paper-button}}
     <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
     <style>
       body {
         background-color: rgb(243, 247, 250);     
          }
  .pink-text {
    color: hsl(340,82%,52%)
  }
 h2 {
    font-family: Lobster;
  }

  p {
    font-size: 16px;
    font-family: monospace;
  }

</style>
       <a href="https://bit.ly/2o15noj" target="_self">Island Pond, VT</a>
     {{/paper-button}}
     <h2
     class="pink-text">Mr. And Mrs. Roderick</h2>
     <span class="flex"></span>
     {{#paper-button raised=true}}
     <a href="https://bit.ly/2m6a13M" target="_self">Click for Wedding photos</a> 
     {{/paper-button}}
     {{#paper-button mini=true aria-label="Favorite"}}
      {{paper-icon "Favorite"}}
     {{/paper-button}}
     

   {{/paper-toolbar-tools}}
 {{/paper-toolbar}}

 