.ember_conf {
  display: flex;
  background-color: #8695AC;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
  font-weight: bolder;
  padding: 10px 30px;

  @include xl {
    font-size: 24px;
  }

  .learn_more {
    box-shadow: 5px 5px 16px #727f92, -5px -5px 16px #9aabc6;
    border-radius: 15px;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 12px;
    white-space: nowrap;
    
    

    @include md {
      padding: 6px 20px;
      font-size: 19px;
    }

    @include lg {
      padding: 6px 20px;
      font-size: 19px;
    }

    @include xl {
      padding: 6px 20px;
      font-size: 19px;
    }
  }

  a {
    text-decoration: none;
  }

  a:link {
    color: #000000;
  }

  a:visited {
    color: #000000;
  }

  a:hover {
    color: #000000;
  }

  .learn_more:hover {
    box-shadow: inset 6px 6px 6px #727f92, inset -6px -6px 6px #9aabc6;
  }

}