.ember_conf {
  display: flex;
  background-color: #E05C45;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 10px;
  text-align: center;
  font-weight: bolder;
  padding: 10px 30px;

  @include xl {
    font-size: 24px;
  }

  .learn_more {
    box-shadow: 5px 5px 16px#be4e3b, -5px -5px 16px #c95d4a;
    border-radius: 15px;
    margin-left: 20px;
    padding: 6px 10px; 
    font-size: 10px;

    @include xl {
      font-size: 19px;
    }
  }

  a {
    text-decoration: none;
  }

  a:link {
    color: #ffffff;
  }

  a:visited {
    color: #000000;
  }

  a:hover {
    color: #000000;
  }

  .learn_more:hover {
    box-shadow: inset 6px 6px 6px #be4e3b, inset -6px -6px 6px #ff6a4f;
  }

}