.ember_conf {
  display: flex;
  background-color: rgb(21, 14, 38);
  justify-content: center;
  align-items: center;
  padding: 15px 32px;
  text-align: left;
  font-size: 10px;
  

  @include xl {
    font-size: 28px;
  }


  a {
    text-decoration: none;
  }

  a:link {
    color: #E05C45;
  }

  a:visited {
    color: #E05C45;
  }

  a:hover {
    color: #F4CA62;
  }
}