.main_logo_container {
    margin: auto;
    // display: flex;
    justify-content: left;
    width: 100%;
    align-items: center;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
    @include xl {
      margin: auto;
      display: flex;
      align-items: center;
      width: 100%;
      // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  
    .main_logo {
      margin-bottom: 10%;
  
      @include xl {
        margin-bottom: 5%;
      }
  
      img {
        display: none;
        position: absolute;
        bottom: 28%;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
        @include md {
          display: flex;
          position: absolute;
          top: 0px;
          bottom: 75%;
          width: 100%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
  
  
        @include xl {
          display: flex;
          position: absolute;
          top: 0px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 100%;
          height: auto;
        }
      }
  
    }
  
  }



.body_main_container {
    margin: 210px 10px 0;
    
}