.home_page_container {
  display: flex;
  flex: 1;
  flex-direction: column;

  .main_logo_container {
    display: flex;
    flex: 1;
    top: 0;
    background-color: #E0E5EC;

    .main_logo {
      display: flex;
      flex: 1;
      height: 100vh;
      flex-direction: column;

      .menubar {
        display: flex;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-top: 15px;
        font-family: 'Roboto', sans-serif;

        @include xl {
          font-size: 40px;
        }

        .logo_container {
          display: none;

          @include xl {
            display: flex;
            flex: 1;
            z-index: 10000;
            margin-left: 5px;
            margin-top: -50px;
            font-size: 20px;
          }
        }

        .contact_info {
          display: flex;
          flex: 1;
          margin-left: 15px;
          align-items: center;
          font-family: monospace;
          font-weight: lighter;
          font-size: 27px;
        }

        .main_button_container {
          display: flex;
          flex: 1;
          margin-right: 10px;
          background-color: transparent;
          justify-content: flex-end;
          z-index: 10000;
          height: 100px;


          .linkedin_button_container {
            margin-left: 5px;
            margin-right: 5px;

            @include xl {
              margin-right: 10px;
              margin-left: 10px;
            }

            .fa-icon {
              font-size: 70px;
            }
          }

          .linkedin_button_container:hover {
            transform: scale(1.2);
          }

          .github_button_container {
            margin-left: 5px;
            margin-right: 5px;

            @include xl {
              margin-right: 10px;
              margin-left: 10px;
            }
          }

          .github_button_container:hover {
            transform: scale(1.2);
          }

          .twitter_button_container {
            margin-left: 5px;
            margin-right: 5px;

            @include xl {
              margin-right: 20px;
              margin-left: 10px;
            }
          }

          .twitter_button_container:hover {
            transform: scale(1.2);

          }
        }
      }

      .hero_image_container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;


        @include lg {
          display: flex;
        }

        @include xl {
          display: flex;
        }

        img {
          height: 100vh;
          width: 100vw;
        }

        .typing p {
          width: 22ch;
          animation: typing 2s steps(22), blink .5s step-end infinite alternate;
          white-space: nowrap;
          overflow: hidden;
          border-right: 3px solid;
          font-family: monospace;
          font-size: 2.5em;
          font-weight: bolder;
          margin: 0 auto;
        }

        .typing p:nth-child(1) {
          width: 4em;
          -webkit-animation: type 2s steps(40, end);
          animation: type 2s steps(40, end);
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }

        .typing p:nth-child(2) {
          width: 17em;
          opacity: 0;
          -webkit-animation: type2 2s steps(40, end);
          animation: type2 2s steps(40, end);
          -webkit-animation-delay: 2s;
          animation-delay: 2s;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }

        .typing p:nth-child(3) {
          width: 12.5em;
          opacity: 0;
          -webkit-animation: type3 3s steps(40, end), blink .5s step-end infinite alternate;
          animation: type3 3s steps(40, end), blink .5s step-end infinite alternate;
          -webkit-animation-delay: 4s;
          animation-delay: 4s;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }

        @keyframes type {
          0% {
            width: 0;
          }

          99.9% {
            border-right: .15em solid black;
          }

          100% {
            border: none;
          }
        }

        @-webkit-keyframes type {
          0% {
            width: 0;
          }

          99.9% {
            border-right: .15em solid black;
          }

          100% {
            border: none;
          }
        }

        @keyframes type2 {
          0% {
            width: 0;
          }

          1% {
            opacity: 1;
          }

          99.9% {
            border-right: .15em solid black;
          }

          100% {
            opacity: 1;
            border: none;
          }
        }

        @-webkit-keyframes type2 {
          0% {
            width: 0;
          }

          1% {
            opacity: 1;
          }

          99.9% {
            border-right: .15em solid black;
          }

          100% {
            opacity: 1;
            border: none;
          }
        }

        @keyframes type3 {
          0% {
            width: 0;
          }

          1% {
            opacity: 1;
          }

          100% {
            opacity: 1;
          }
        }

        @-webkit-keyframes type3 {
          0% {
            width: 0;
          }

          1% {
            opacity: 1;
          }

          100% {
            opacity: 1;
          }
        }

        @keyframes blink {
          50% {
            border-color: transparent;
          }
        }

        @-webkit-keyframes blink {
          50% {
            border-color: transparent;
          }
        }
      }

      .mobile_image_container {
        margin-top: -100px;

        .typing p {
          width: 22ch;
          animation: typing 2s steps(22), blink .5s step-end infinite alternate;
          white-space: nowrap;
          overflow: hidden;
          border-right: 3px solid;
          font-family: monospace;
          font-size: 18px;
          font-weight: bolder;
          margin: 0 auto;



          @include lg {
            display: none;

            @include xl {
              display: none;
            }
          }
        }

        .typing p:nth-child(1) {
          width: 4em;
          -webkit-animation: type 2s steps(40, end);
          animation: type 2s steps(40, end);
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }

        .typing p:nth-child(2) {
          width: 17em;
          opacity: 0;
          -webkit-animation: type2 2s steps(40, end);
          animation: type2 2s steps(40, end);
          -webkit-animation-delay: 2s;
          animation-delay: 2s;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }

        .typing p:nth-child(3) {
          width: 12.5em;
          opacity: 0;
          -webkit-animation: type3 3s steps(40, end), blink .5s step-end infinite alternate;
          animation: type3 3s steps(40, end), blink .5s step-end infinite alternate;
          -webkit-animation-delay: 4s;
          animation-delay: 4s;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }

        @keyframes type {
          0% {
            width: 0;
          }

          99.9% {
            border-right: .15em solid black;
          }

          100% {
            border: none;
          }
        }

        @-webkit-keyframes type {
          0% {
            width: 0;
          }

          99.9% {
            border-right: .15em solid black;
          }

          100% {
            border: none;
          }
        }

        @keyframes type2 {
          0% {
            width: 0;
          }

          1% {
            opacity: 1;
          }

          99.9% {
            border-right: .15em solid black;
          }

          100% {
            opacity: 1;
            border: none;
          }
        }

        @-webkit-keyframes type2 {
          0% {
            width: 0;
          }

          1% {
            opacity: 1;
          }

          99.9% {
            border-right: .15em solid black;
          }

          100% {
            opacity: 1;
            border: none;
          }
        }

        @keyframes type3 {
          0% {
            width: 0;
          }

          1% {
            opacity: 1;
          }

          100% {
            opacity: 1;
          }
        }

        @-webkit-keyframes type3 {
          0% {
            width: 0;
          }

          1% {
            opacity: 1;
          }

          100% {
            opacity: 1;
          }
        }

        @keyframes blink {
          50% {
            border-color: transparent;
          }
        }

        @-webkit-keyframes blink {
          50% {
            border-color: transparent;
          }
        }
      }

      .down_arrow_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        
        .down_arrow_main_text {
          display: none;

          @include lg {
            display: flex;
          }

          @include xl {
            display: flex;
          }
        }
        .down_arrow_main {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
          -moz-animation-name: bounce 3s infinite;
          -webkit-animation: bounce 3s infinite;
          animation: bounce 3s infinite;
          cursor: pointer;
          display: none;
          

          @include lg {
            display: flex;
          }

          @include xl {
            display: flex;
          }


          img {
            width: 40px;
            height: 40px;

            @include lg {
              width: 50px;
              height: 50px;
              margin-bottom: 100px;
            }

            @include xl {
              width: 80px;
              height: 80px;
            }
          }
        }

        .down_arrow_mobile {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
          -moz-animation-name: bounce 3s infinite;
          -webkit-animation: bounce 3s infinite;
          animation: bounce 3s infinite;
          cursor: pointer;
          margin-top: -100px;
          

          img {
            width: 40px;
            height: 40px;

            @include lg {
              width: 60px;
              height: 60px;
            }

            @include xl {
              width: 60px;
              height: 60px;
            }
          }
        }
      }
    }
  }
}