.main_logo_container {
  display: flex;
  flex: 1;
  align-items: center;
  min-height: auto;

  .main_logo {
    flex: 1;

    @include xl {
      margin-bottom: 25px;
    }

    img {
      display: none;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

      @include md {
        display: block;
        top: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

     @include xl {
        display: flex;
        top: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 100%;
        height: auto;
      }

      @include xxl {
        display: flex;
        width: 100%;
        height: 400px;

      }
    }

  }

}



.body_main_container {
  margin: 0 10px 0;

}