.home_page_container {
  display: flex;
  flex-direction: column;

  .main_logo_container {
    display: flex;
    flex: 1;
    top: 0;
    background-color: #E0E5EC;

    .main_logo {
      flex: 1;

      @include xl {
        margin-bottom: 25px;
      }

      .menubar {
        display: flex;
        flex: 1;
        top: 0;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;

        @include md {
          font-size: 30px;
        }

        @include xl {
          font-size: 40px;
        }

        .main_button_container {
          display: flex;
          flex: 1;
          margin-right: 10px;
          background-color: transparent;
          justify-content: flex-end;
          z-index: 10000;
          height: 100px;

          .linkedin_button_container {
            margin-left: 5px;
            margin-right: 5px;

            @include xl {
              margin-right: 10px;
              margin-left: 10px;
            }
          }

          .linkedin_button_container:hover {
            opacity: .5;
          }

          .github_button_container {
            margin-left: 5px;
            margin-right: 5px;

            @include xl {
              margin-right: 10px;
              margin-left: 10px;
            }
          }

          .github_button_container:hover {
            opacity: .5;
          }

          .twitter_button_container {
            margin-left: 5px;
            margin-right: 5px;

            @include xl {
              margin-right: 10px;
              margin-left: 10px;
            }
          }

          .twitter_button_container:hover {
            opacity: .5;

          }
        }
      }

      .hero_image_container {
        flex: 1;
        margin-top: -100px;
        margin-bottom: -5px;

        img {
          width: 100%;
          min-height: auto;

          @include lg {
            height: 100vh;
            width: 100vw;
          }

          @include xl {
            height: 100vh;
            width: 100vw;
          }
        }
      }
    }
  }
}