.skills_header {
    text-align: center;

    @include xxl {
        font-size: xx-large;
    }
    

    a{
        text-decoration: none;
    }

    a:visited {
        color: black;
        
        
    }
}

.skills_body {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
    margin-bottom: 100px;

    @include xxl {
        font-size: x-large;
    }

}

.skills_image_container {
    display: flex;
    text-align: center;
    font-size: larger;
    flex: 1;
    justify-content: center;
    align-items: center;


    .skills_image {
        width: 50%;
        font-weight: bolder;
        

        @include xl {
            font-size: x-large;
        }

        @include xxl {
            font-size: xx-large;
        }
        
        
        img {
            max-width: 100%;
            

        }
    }
}