.skills_header {
  text-align: center;
  font-size: larger;
  font-weight: bolder;

  a {
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  hr {
    height: 2px;
    border: 0;
    border-top: 3px solid #000000;
    width: 40%;
  }
}

.skills_body {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  font-size: larger;
  margin-bottom: 100px;
  font-family: 'Roboto Mono', monospace;

  @include xl {
    margin-left: 350px;
    margin-right: 350px;
    font-size: x-large;
    margin-bottom: 100px;
    font-family: 'Roboto Mono', monospace;
  }
  
  h3 {
    text-align: center;
  }

  h2 {
      text-align: center;
  }

  a {
    text-decoration: underline;
  }

  a:link {
    color: 	#4072bd
  }

  a:visited {
    color: 	#4072bd
  }

  a:hover {
    color: #8695AC;
  }
}

.skills_image_container {
  display: none;
  text-align: center;
  font-size: larger;
  flex: 1;
  justify-content: center;
  align-items: center;

  @include md {
    display: flex;
    text-align: center;
    font-size: larger;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  @include xl {
    display: flex;
    text-align: center;
    font-size: larger;
    flex: 1;
    justify-content: center;
    align-items: center;
  }


  .skills_image {
    width: 50%;
    font-weight: bolder;


    @include xl {
      font-size: xx-large;
    }

    img {
      max-width: 100%;
    }

    // img:hover {
    //   top: 50%;
    //   margin-top: -25%;
    //   -webkit-transform: scale(1.5);
    //   -moz-transform: scale(1.5);
    //   -ms-transform: scale(1.5);
    //   -o-transform: scale(1.5);
    //   transform: scale(1.5);
    //   -webkit-transition: all 0.3s ease-out;
    //   -moz-transition: all 0.3s ease-out;
    //   -o-transition: all 0.3s ease-out;
    //   transition: all 0.3s ease-out;
    // }
    }
    }