.skills_header {
  text-align: center;
  font-size: larger;
  font-weight: bolder;

  a {
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  hr {
    height: 2px;
    border: 0;
    border-top: 3px solid #000000;
    width: 40%;
  }
}

.skills_body {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-size: larger;
  margin-bottom: 100px;

  @include xl {
    margin-left: 350px;
    margin-right: 350px;
    font-size: x-large;
    margin-bottom: 100px;
  }
  
  h3 {
    text-align: center;
  }

  h2 {
      text-align: center;
  }

  a {
    text-decoration: underline;
  }

  a:link {
    color: #E05C45;
  }

  a:visited {
    color: #E05C45;
  }

  a:hover {
    color: #F6A459;
  }
}

.skills_image_container {
  display: none;
  text-align: center;
  font-size: larger;
  flex: 1;
  justify-content: center;
  align-items: center;

  @include md {
    display: flex;
    text-align: center;
    font-size: larger;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  @include xl {
    display: flex;
    text-align: center;
    font-size: larger;
    flex: 1;
    justify-content: center;
    align-items: center;
  }


  .skills_image {
    width: 50%;
    font-weight: bolder;


    @include xl {
      font-size: xx-large;
    }

    img {
      max-width: 100%;
    }
  }
}