@import 'mixins';
@import 'breakpoints';
@import 'variables/variables';
@import 'index';
@import 'body';
@import 'card/flipcard';
@import 'home';
@import 'skills';
@import 'emberconf';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');