// div {
//   border:1px solid red !important;
//   }
body {
	width: 100%;
	height: 100%;
	min-height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.main_logo {
  box-sizing: content-box;
  position: relative;
  width: 85%;
  height: 70%;
  margin: auto;
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  padding: 100px;
  
}

.toptext {
  position: relative;
  bottom: 250px;
  font-size: 50px;
  color: white;
  text-decoration: underline overline;
  text-decoration-color: white;
  // font-family: 'Gochi Hand', cursive;
  

  


}

.bottomtext {
  position: relative;
  bottom: 210px;
  font-size: 50px;
  color: #448aff;
  text-decoration: underline overline;
  text-decoration-color: #448aff;
  // font-family: 'Gochi Hand', cursive;
  

}


.profilecard {
  position: relative;
  right: 720px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.profilecard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}






//Not using bottom height code anymore but might use it for logo
.main_logo_container {
  margin: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to bottom, #448aff, #387ff2, #2b74e5, #1b69d8, #005ecb);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
  

  

  
  // background-color: #3f51b5;
}

.main_cards_container {
    display: flex;
    background-color: white;
    
    

    .main_cards_info_container{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 250px;
        
        .main_cards_flipcard {
            flex: 1;
            justify-content: center;
            align-items: center;
        }
        
        .main_cards_flipcard_info {
          //change to display cards underneath 
            display: none;
            flex: 1;
            justify-content: center;
            align-items: center;
            // below is how you call a varaible 
            width: $card_width;
            margin: 40px;

        }
    }
}

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  
  }

  #backtopbutton {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 18.5%;
    left: 97%;
    max-width: 50px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: #005ecb;
    padding: .5px;
    //change shape below
    border-radius: 4px;
    transition-duration: 0.4s;

}

#backtopbutton:hover {
    background-color: #83b9ff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
