// div {
//   border:1px solid red !important;
//   }

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  

  @include xl {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
  }
}

.p_one {
  text-align: center;
}

.p_two {
  text-align: center;
}



.main_logo {
  margin-bottom: 10%;

  @include xl {
    margin-bottom: 10%;
  }

}


.header {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 23px;
  font-size: 50px;
  text-decoration: underline;

  @include md {
    display: none;
  }

  @include xl {
   display: none;
  }
  
}


.header_body {
  text-align: center;
  color: #31C5FF;

  @include md {
    display: none;
  }

  @include xl {
   display: none;
  }
  
}



.profilecard {
  display: none;
  position: absolute;
  bottom: 28%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  @include md {
    display: flex;
    position: absolute;
    bottom: 75%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }


  @include xl {
    display: flex;
    position: absolute;
    top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    bottom: 15%;
    width: 100%;
  }

}

.main_logo_container {
  margin: auto;
  // display: flex;
  justify-content: left;
  width: 100%;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  @include xl {
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

}

.main_cards_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;

  @include md {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }

  @include lg {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: calc(100% - 100px)
    
  }
 

  @include xl {
    display: flex;
    flex-direction: row;
    background-color: white;
    
    

  }


  .main_cards_info_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    

    @include xl {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
      margin-bottom: 5%;
      

    }
    




    .main_cards_flipcard {
      flex: 1;
      justify-content: center;
      align-items: center;

      @include xl {
        flex: 1;
        justify-content: center;
        align-items: center;
        
      }

    }

  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;

}


.container {
  padding: 2px 16px;

}


