// div {
//   border:1px solid red !important;
//   }

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  @include xl {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
}


.main_logo {
  margin-bottom: 10%;

  @include xl {
   margin-bottom: 10%;
  }

}






.toptext {
  position: relative;
  bottom: 400%;
  left: 50px;
  font-size: 14px;
  color: white;
  text-decoration: overline;
  -webkit-text-decoration-thickness: 2px;
  text-decoration-color: white;
  // font-family: 'Gochi Hand', cursive;
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

  @include xl {
    position: relative;
    bottom: -40%;
    font-size: 50px;
    color: white;
    // text-decoration: overline;
    -webkit-text-decoration-thickness: 2px;
    text-decoration-color: white;
    // font-family: 'Gochi Hand', cursive;


  }
}





.bottomtext {
  position: relative;
  bottom: 800%;
  left: 50px;
  font-size: 14px;
  color: #448aff;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #448aff;
  // font-family: 'Gochi Hand', cursive;


  @include xl {
    position: relative;
    bottom: -30%;
    font-size: 50px;
    color: #448aff;
    // text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #448aff;
    // font-family: 'Gochi Hand', cursive;

  }

}




.profilecard {
  display: flex;
  position: absolute;
  bottom: 28%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  @include xl {
    display: flex;
    position: absolute;
    top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    bottom: 15%;
    width: 100%;
  }

}



.profilecard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}









.main_logo_container {
  margin: auto;
  // display: flex;
  justify-content: left;
  width: 100%;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  @include xl {
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }









}

.main_cards_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: white;
  margin-top: 100px;

  @include xl {
    display: flex;
    flex-direction: row;
    background-color: white;
  }




  .main_cards_info_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    @include xl {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 250px;
    }




    .main_cards_flipcard {
      flex: 1;
      justify-content: center;
      align-items: center;

      @include xl {
        flex: 1;
        justify-content: center;
        align-items: center;
      }

    }


    .main_cards_flipcard_info {
      //change to display cards underneath 
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      // below is how you call a varaible 
      width: $card_width;
      margin: 40px;

    }
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;

}


// #backtopbutton {
//   position: fixed;
//   bottom: 10px;
//   float: right;
//   right: 18.5%;
//   left: 85%;
//   max-width: 40px;
//   width: 100%;
//   height: 40px;
//   font-size: 12px;
//   border-color: rgba(85, 85, 85, 0.2);
//   background-color: #65C9FF;
//   padding: .5px;
//   //change shape below
//   border-radius: 4px;
//   transition-duration: 0.4s;
//   -webkit-animation: shake-tr 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
//   animation: shake-tr 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

//   @include xl {
//     position: fixed;
//     bottom: 10px;
//     float: right;
//     right: 18.5%;
//     left: 97%;
//     max-width: 50px;
//     width: 100%;
//     height: 50px;
//     font-size: 16px;
//     border-color: rgba(85, 85, 85, 0.2);
//     background-color: #65C9FF;
//     padding: .5px;
//     //change shape below
//     border-radius: 4px;
//     transition-duration: 0.4s;
//     -webkit-animation: shake-tr 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
//     animation: shake-tr 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
//   }
// }


// // }

// @-webkit-keyframes shake-tr {

//   0%,
//   100% {
//     -webkit-transform: rotate(0deg);
//     transform: rotate(0deg);
//     -webkit-transform-origin: 100% 0;
//     transform-origin: 100% 0;
//   }

//   10% {
//     -webkit-transform: rotate(2deg);
//     transform: rotate(2deg);
//   }

//   20%,
//   40%,
//   60% {
//     -webkit-transform: rotate(-4deg);
//     transform: rotate(-4deg);
//   }

//   30%,
//   50%,
//   70% {
//     -webkit-transform: rotate(4deg);
//     transform: rotate(4deg);
//   }

//   80% {
//     -webkit-transform: rotate(-2deg);
//     transform: rotate(-2deg);
//   }

//   90% {
//     -webkit-transform: rotate(2deg);
//     transform: rotate(2deg);
//   }
// }

// @keyframes shake-tr {

//   0%,
//   100% {
//     -webkit-transform: rotate(0deg);
//     transform: rotate(0deg);
//     -webkit-transform-origin: 100% 0;
//     transform-origin: 100% 0;
//   }

//   10% {
//     -webkit-transform: rotate(2deg);
//     transform: rotate(2deg);
//   }

//   20%,
//   40%,
//   60% {
//     -webkit-transform: rotate(-4deg);
//     transform: rotate(-4deg);
//   }

//   30%,
//   50%,
//   70% {
//     -webkit-transform: rotate(4deg);
//     transform: rotate(4deg);
//   }

//   80% {
//     -webkit-transform: rotate(-2deg);
//     transform: rotate(-2deg);
//   }

//   90% {
//     -webkit-transform: rotate(2deg);
//     transform: rotate(2deg);
//   }
// }

// #backtopbutton:hover {
//   background-color: #65C9FF;
//   box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
// }

