<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src={{imageFront}} alt="Avatar" >
    </div>
   
    <div class="flip-card-back">
      <img src={{imageBack}} alt="code" >
    </div>
  </div>
</div>