<div class="flip-card">
  <div class="flip-card-inner">

    <div class="flip-card-front">
      <div class="flip_card_front_image_container">
        <img src={{@imageFront}} alt="Avatar">
      </div>
    </div>

    <div class="flip-card-back">
      <div class="flip_card_back_image_container">
        <img src={{@imageBack}} alt="code">
      </div>
    </div>

  </div>
</div>