<div class="component_navigation_menubar_main_container">
   
    <div class="component_navigation_menubar_main_container_left">
        <div class="component_navigation_menubar_main_container_tab">
            Roderick Developers
        </div>
    </div>

    <div class="component_navigation_menubar_main_container_right">  
         <div class="component_navigation_menubar_main_container_tab">
            <LinkTo @route=my-info >My Info </LinkTo>
        </div>

        <div class="component_navigation_menubar_main_container_tab">
             <LinkTo @route=certificates >Certificates </LinkTo>
        </div>

        <div class="component_navigation_menubar_main_container_tab">
            <LinkTo @route=extra >Extra </LinkTo>      
        </div>
    </div>
</div>


