.component_navigation_menubar_main_container {
  display: flex;
  height: 40px;
  background-color: #3f51b5;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  
  

  .component_navigation_menubar_main_container_left {
    display: flex;
    flex: 0 0 70%;
    background-color: #3f51b5;
    justify-content: flex-start;
    align-items: center;
    // box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

    .component_navigation_menubar_main_container_tab {
      text-align: center;
      color: white;
      margin: 0 0 0 60px;
      font-size: larger;
      

    }
    

  }

  .component_navigation_menubar_main_container_right {
      display: flex;
      flex: 1;
      // box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
      // need to display everything to the right and horizontal

    .component_navigation_menubar_main_container_tab {
      display: flex;
      align-items: center;
      // Bottom line was changed from center to flex-end to make text stick to bottom
      justify-content: center;
      flex-direction: column;
      width: 100%;
      text-align: center;
      font-size: larger;
      background-color: #3f51b5;
      
      
      // border-top: 4px solid #2397F8;
      
          // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  
      a:hover {
        color: none;
      }
  
      a {
        color: white;
      }
  
      a:link {
        text-decoration: none;
      }
  
      a:visited {
        text-decoration: none;
      }
  
      a:hover {
        text-decoration: none;
      }
  
      a:active {
        text-decoration: none;
      }
    }

  }
 


  
  
}
