<div class="skills_header">
  <h1>
    <LinkTo @route="index">Roderick Developers</LinkTo>
  </h1>

 <hr />

  <h1>CSS</h1>
</div>

<div class="skills_body">
  <p>I started my journey with CSS through FreeCodeCamp and as much as it was frustrating at times, I have come to love
    CSS. In particular I have been using SCSS within Ember.js and am learning many new things by tinkering on my own. I
    realized that when playing around in my .scss files I had a lot of code that was not even needed and quickly
    cleaned it up. I've been learning about how things interact and how to debug styling that just acts weird, and I
    have been using Flexbox in my side projects, which I love! I plan on building some side projects to just play
    around with and make some pics from pure CSS with animations. That sounds fun! I also plan on becoming comfortable
    with GRID. I think that if I can master CSS, HTML, and JS, I will consider myself a developer.
  </p>
</div>

<div class="skills_image_container">
  <div class="skills_image">
    <h>Body.scss and Home.scss</h>
    <img src="assets/images/cssone.png" alt="css" />
  </div>
  <div class="skills_image">
    <h>Breakpoint.scss and Mixins.scss</h>
    <img src="assets/images/csstwo.png" alt="css" />
  </div>
</div>
