 <div class="skills_header">
   <h1>
     <LinkTo @route="index">Roderick Developers</LinkTo> <b>|</b> CSS
   </h1>
 </div>


 <div class="skills_body">
   <p>Again I started my journey of CSS with Free Code Camp and as much as it was frustrating at times with my courses I
     have become to love coding CSS. In particular I have been using SCSS within Ember.js and am learning many new
     things by tinkering on my own. I have come to realize I am falling in love with Flexbox and realized that when
     playing around in my .scss files I had a lot of code that was not even needed and quickly cleaned it up. It has
     taken me a bit to get comfortable with CSS but I am getting there and I know there is amazing things that can be
     done. I plan on doing some side projects to just play around with and make some pics from pure SCSS with
     animations.</p>
 </div>


 <div class="skills_image_container">
   <div class="skills_image">
     <h>Body.scss and Home.scss</h>
     <img src="assets/images/cssone.png" alt="css" />
   </div>
   <div class="skills_image">
     <h>Breakpoint.scss and Mixins.scss</h>
     <img src="assets/images/csstwo.png" alt="css" />
   </div>
 </div>
