<div class="skills_header">
  <h1>
    <LinkTo @route="index">Roderick Developers</LinkTo>
  </h1>

  <hr />

  <h1>The Ember Times</h1>
</div>

<div class="skills_body">
  <p>I have written some blog posts for The Ember Times, and I would have to say it was the best experience and my first
    time working with a team. This experience has gotten me familiar with basic GitHub commands, working and
    communicating with a team, and has improved my writing skills tremendously. The people at The Ember Times have been
    a massive help in my success and continue to help mentor me in a way I never thought possible. I started writing
    these blog posts for them shortly after I went to my first ever Ember Conference with the push from one of my
    mentors <a href="https://github.com/ijlee2">Issac Lee</a>.I will continue to write for them from time to time to
    improve my skills and contribute. I think it is a valuable experience that will stay with me for years to come.
    Check out <a href="https://the-emberjs-times.ongoodbits.com/">The Ember Times</a> </p>

      <h3>My Blog Posts</h3>
<p>JUN 19 2020</p>
<a href="https://the-emberjs-times.ongoodbits.com/2020/06/19/issue-153">Stories of becoming a developer</a>
<p>MAY 30 2020</p>
<a href="https://the-emberjs-times.ongoodbits.com/2020/05/30/issue-150">My Experience with Ember.js Part 2</a>
<p>MAY 23 2020</p>
<a href="https://the-emberjs-times.ongoodbits.com/2020/05/23/issue-149">My Experience with Ember.js</a>
<p>APR 25 2020</p>
<a href="https://the-emberjs-times.ongoodbits.com/2020/04/25/issue-145">Simple drag and drop in Ember Octane</a>
</div>


<div class="skills_image_container">
  <div class="skills_image">
    <h>My First Blog Post!</h>
    <img src="assets/images/emberblogone.png" loading="lazy" alt="github" />
  </div>
  <div class="skills_image">
    <h>My Most Current Blog Post!</h>
    <img src="assets/images/emberblogtwo.png" loading="lazy" alt="github" />
  </div>
</div>


