<div class="skills_header">
  <h1>
    <LinkTo @route="index">Roderick Developers</LinkTo>
  </h1>

 <hr />

  <h1>Ember</h1>
</div>

<div class="skills_body">
  <p>I fell in love with Ember as soon as I started using it! Without ever having used a framework and having minimal
    coding knowledge, I started building just a simple SPA. It literally had one big picture, some links, and buttons
    that didn't function. I turned that into the portfolio you are currently on. Ember's Discord channel is great and
    everyone in the Ember.js community is very friendly and helpful. I would recommend Ember.js to anyone that's wants
    to make amazing things in a very user friendly environment. I was in the middle of building this portfolio and
    signed up for a scholarship to the Ember Conference in Portland, Oregon, I was awarded a scholarship ticket with a
    mentor and I am beyond excited! I have been using ember now for about six months and this is my very first full
    project. Oh and by the way........ Ember Octane is amazing. I updated this project to Octane as soon as it was
    released and will continue to use Ember for future projects.</p>
</div>

<div class="skills_image_container">
  <div class="skills_image">
    <h>Commit and Serve</h>
    <img src="assets/images/emberone.png" alt="ember" />
  </div>
  <div class="skills_image">
    <h>Package.json</h>
    <img src="assets/images/embertwo.png" alt="ember" />
  </div>
</div>
