<div class="skills_header">
  <h1>
    <LinkTo @route="index">Roderick Developers</LinkTo>
  </h1>

  <hr />

  <h1>The Ember Learning Team</h1>
</div>

<div class="skills_body">
  <p>Contributing to open source has been a gratifying process! It has opened my eyes to working with a team and gaining
    that critical experience. I have worked on a few issues for The Ember Learning Team, and will be continuing to
    contribute to open source as much as I can to sharpen my skills. One of the best things I have done since starting
    coding is contributing to open source projects!</p>
</div>


<div class="skills_image_container">
  <div class="skills_image">
    <h>Placeholder</h>
    <img src="assets/images/emberlearningone.png" alt="github" />
  </div>
  <div class="skills_image">
    <h>Placeholder</h>
    <img src="assets/images/emberlearningtwo.png" alt="github" />
  </div>
</div>
