<div class="skills_header">
  <h1>
    <LinkTo @route="index">Roderick Developers</LinkTo>
  </h1>

  <hr />

  <h1>Ember Conference 2020</h1>
</div>

<div class="skills_body">
  <h3>April 3rd, 2020</h3>
   <p>First off, I was awarded a Scholarship Ticket, and I want to thank the Ember Team for taking the time and effort to
    do this for people that might need it like myself.</p>
  <p>So as many of you know, this year's Ember Conference was a little different, That said here is my first ever Ember
    Conference experience!</p>
  <h3>Mentorship Program</h3>
  <p>The thing that stuck out to me the most and will stay with me forever is the mentorship program! I am very new
    to all this and have only started learning any coding about six months ago. So learning on my own without getting a
    degree or going to a Bootcamp I had some doubts about if I could get any job offer in the future, and just talking
    to the three amazing mentors I met with made that feel possible, even if the only thing I got out of this was that
    feeling, the feeling that it is possible and all my hard work was going to add up to something someday if I kept
    going. But I got much more than just that.</p>
  <h3>My Mentors</h3>
  <p>My mentors were <a href="https://github.com/jenweber">Jen Weber</a>, <a href="https://github.com/ef4"> Edward
      Faulkner</a>, <a href="https://github.com/ijlee2"> Isaac Lee</a>.
    First off, I was super nervous because I had never done ANYTHING like this before, and to be meeting with these
    three great people was intimidating at first, but it only took a few minutes to get comfortable. One thing about the
    Ember community that is amazing is they are very welcoming and have no problem helping each other out. It is really
    refreshing to see. I did not know what to expect from any of this, but as we talked and discussed things about being
    new and getting your feet wet, I felt even more driven to keep going and continue to learn new things. Hearing each
    one of their stories was inspiring. I am so thankful for this program and for being a part of it. I hope someday I
    can be on the other side and help new people getting into this because I think this is an essential program.</p>
  <h3>The Conference</h3>
  <p>The talks!! Let's talk about those! What a fantastic set of speakers and content.
    The opening from <a href="https://github.com/wycats">Yehuda Katz</a> was tremendous and inspiring because, like him,
    I am really only starting with HTML and CSS under my belt and still have learning to do. I am doing a tutorial of
    his that you can also do yourself and follow<a
      href="https://yehudakatz.com/2020/03/25/ember-octane-lets-go/amp/?__twitter_impression=true"> here</a>.
    All the talks were excellent, and while some went over my head being so new, I still feel like I got something out
    of every single one of them. They were all well presented and made to be easily understood, even at my level and
    knowledge. Some that really stood out to me as a beginner were Lessons Learned From Changing Careers, An Embers
    Dev's Guide to CSS Grid, and Why Contributing Seems Scary.</p>

   <p> I have been using Flexbox a lot, and I love it. I am going to dive more into learning Grid, and my next project will
    be with CSS Grid after listening to that talk. I would love to get good at both.</p>

    <p>Lessons Learned From Changing Careers was also great to hear being a beginner and changing careers.</p>

    <p>And Why Contributing Seems Scary was great because yes to me at this moment, it does seem scary. Still, I remembered
    you have to start somewhere and that communities like Ember makes contributing not so frightening anymore. Instead
    of being afraid, it feels welcoming. I plan on participating in one way or another to the Ember Community.</p>
  <h3>Final thoughts</h3>
  <p>So even though this was not your typical Ember Conference, I was still able to learn new things and also meet new
    people and contacts. Now obviously, I could not reach as many people as a typical conference. Even with everything
    going on in the world today, Ember did a fantastic job making this happen, and the work they put in after everything
    they were faced with was a testament to their great community and hard work.
    I will be attending the next big one hopefully, and since I am from Portsmouth, NH, I will be going to the Boston
    meetups as much as possible when they start up again.</p>

    <h3>Ember Conference YouTube</h3>

    <p>Tuesday, March 17th Part One</p>
    <a href="https://youtu.be/1vZGPJHYcOA">Day One Stream</a>
    <p>Wednesday, March 18th Part Two</p>
    <a href="https://youtu.be/vObogyci7m8">Day Two Stream</a>

  <h2>Everyone stay safe and healthy</h2>
  <h3>Matthew Roderick</h3>
</div>
