<div class="skills_header">
  <h1>
    <LinkTo @route="index">Roderick Developers</LinkTo> <b>|</b> Free Code Camp
  </h1>
</div>


<div class="skills_body">
  <p>FreeCodeCamp was the beginning for me and I highly recommend it to any new coders that want to learn and feel
    accomplished after each lesson. I got my Certificate for Responsive Web Design and am currently working on my
    Javascript Certificate now. I will continue my learning with FreeCodeCamp as well as my internship at Design Monster
    and I know with hard work and dedication more opportunities will come my way! My goal is to finish all the courses.
  </p>
</div>

<div class="skills_image_container">
  <div class="skills_image">
    <h>Responsive Web Design Certificate</h>
    <img src="assets/images/freecodecampone.png" alt="freecodecamp" />
  </div>
  <div class="skills_image">
    What a Great Experience
    <img src="assets/images/freecodecamptwo.png" alt="freecodecamp" />
  </div>
</div>