<div class="skills_header">
  <h1>
    <LinkTo @route="index">Roderick Developers</LinkTo>
  </h1>

  <hr width="40%" />

  <h1>Git Hub</h1>
</div>

<div class="skills_body">
  <p>An essential for Web Developers. This actually took me a bit to learn and I still have a lot to learn about it and
    all the commands. Sometimes it feels like you're going to set off all the nuclear silos if you type in a wrong
    command and hit enter. Just a little story......... As I was building this portfolio, I made the mistake of trying
    to merge a feature branch into my master without having committed everything. I didn't get any errors, so I didn't
    even realize what I had done until I went to serve my master branch on localhost........EVERYTHING was back to the
    original code. Like from my starting point original code. At this point I started freaking out. Luckily (and this is
    why GitHub is so essential and a great tool) I was able to get everything back to normal by reverting some commits
    and then remerging. Thank you Git!</p>
</div>

<div class="skills_image_container">
  <div class="skills_image">
    <h>My Git Hub</h>
    <img src="assets/images/githubone.png" alt="github" />
  </div>
  <div class="skills_image">
    <h>My Portfolio Code</h>
    <img src="assets/images/githubtwo.png" alt="github" />
  </div>
</div>
