<div class="skills_header">
  <h1>GitHub</h1>
</div>


<div class="skills_body">
  <p>An essential for Web Developers.
    This actually took me a bit to learn and I still have a lot to learn about it and all the commands.
    Just a little story......... So as I am building THIS portfolio, I am branching out and pushing changes I have made
    in my code to the respective branches, all good and easy.
    Well I made the mistake of trying to merge a branch to my master without being up to date with everything. At this
    point everything looked fine and I didn't even realize what I had done
    UNTIL I went to serve my master branch on localhost........EVERYTHING was back to the original code when I had just
    started.
    At this point I am freaking out!!! BUT Luckily (and this is why GitHub is so essential and a great tool) I was able
    to get everything back to normal.
    The power of GitHub is amazing!</p>
</div>

<div class="skills_image_container">
  <div class="skills_image">
    <h>My Git Hub</h>
    <img src="assets/images/githubone.png" alt="github" />
  </div>
  <div class="skills_image">
    <h>My Portfolio code (yes this one!)</h>
    <img src="assets/images/githubtwo.png" alt="github" />
  </div>
</div>
