<div class="skills_header">
  <h1>
    <LinkTo @route="index">Roderick Developers</LinkTo>
  </h1>

 <hr />

  <h1>HTML</h1>
</div>

<div class="skills_body">
  <p>I started learning and playing around with HTML through FreeCodeCamp, and from there I started learning more about
    HTMLBars within Ember.js. I still have lots to learn but I have come further than I ever thought I could in six
    months! I am working on mastering the proper structure and conventions of HTML and am interested in diving deeper
    into things like helpers and conditionals.</p>
</div>

<div class="skills_image_container">
  <div class="skills_image">
    <h>Body Template</h>
    <img src="assets/images/htmlone.png" alt="html" />
  </div>
  <div class="skills_image">
    <h>Routes Templates</h>
    <img src="assets/images/htmltwo.png" alt="html" />
  </div>
</div>
