 <div class="skills_header">
   <h1><LinkTo @route="index">Roderick Developers</LinkTo> <b>|</b> HTML</h1>
 </div>

 <div class="skills_body">
   <p>I started learning and playing around with HTML with Free Code Camp, and from there started learning more about HTMLBars within Ember.js. I still have lots to learn but I have come further than I ever thought in 6 months. I am working on my setup and structure of HTML and I will continue to learn more with HTMLBars and further my knowledge with HTML in general.</p>
 </div>

 <div class="skills_image_container">
   <div class="skills_image">
     <h>Body Template</h>
     <img src="assets/images/htmlone.png" alt="html" />
   </div>
   <div class="skills_image">
     <h>Routes Templates</h>
     <img src="assets/images/htmltwo.png" alt="html" />
   </div>
 </div>
