 <div class="skills_header">
   <h1>
     <LinkTo @route="index">Roderick Developers</LinkTo> <b>|</b> Java Script
   </h1>
 </div>

 <div class="skills_body">
   <p>Java script is still very new to me. I have started my Free Code Camp Java Script Certificate and have set my
     deadline to finish. This one may take me a bit longer but I am a quick learner and I don't see it giving me to much
     of an issue. That being said I look forward to finishing it and starting on the next course to get my feet wet with
     Front End Libraries. </p>
 </div>

 <div class="skills_image_container">
   <div class="skills_image">
     <h>Body.js</h>
     <img src="assets/images/javaone.png" alt="Java" />
   </div>
   <div class="skills_image">
     <h>Router.js</h>
     <img src="assets/images/javatwo.png" alt="Java" />
   </div>
 </div>