<div class="skills_header">
  <h1>
    <LinkTo @route="index">Roderick Developers</LinkTo>
  </h1>

  <hr />

  <h1>Java Script</h1>
</div>

<div class="skills_body">
  <p>Javascript is still very new to me. I have started my FreeCodeCamp Javascript Certificate and have set my deadline
    to finish. This one may take me a bit longer than my HTML and CSS courses, but I am looking forward to the
    challenges involved with learning Javascript and I love what you can accomplish with a solid knowledge of HTML, CSS
    and JS. I will become great at all three, that is my goal.</p>
</div>

<div class="skills_image_container">
  <div class="skills_image">
    <h>Body.js</h>
    <img src="assets/images/javaone.png" loading="lazy" alt="Java" />
  </div>
  <div class="skills_image">
    <h>Router.js</h>
    <img src="assets/images/javatwo.png" loading="lazy" alt="Java" />
  </div>
</div>