<div class="skills_header">
  <h1>
    <LinkTo @route="index">Roderick Developers</LinkTo>
  </h1>

  <hr width="40%" />

  <h1>Sketch</h1>
</div>

<div class="skills_body">
  <p>So let's talk about sketch. Sketch really helped me visualize what I wanted my site to look like. I had heard
    amazing things about it and purchased it as soon as I started coding, and I'll tell you what..... It lives up to its
    name. Sketch can do amazing things and although I'm getting good with it, I still have a lot to learn. That said I
    will continue to learn and use sketch with all my future projects. I made a great pixel perfect fav icon for an
    internship I'm doing with a company called Design Monster and they loved it! Design and layout is something that I
    am passionate about and Sketch has helped me begin to explore those aspects of becoming a developer. </p>
</div>

<div class="skills_image_container">
  <div class="skills_image">
    <h>Working on New Things!</h>
    <img src="assets/images/sketchone.png" alt="sketch" />
  </div>
  <div class="skills_image">
    One of My First Ideas!
    <img src="assets/images/sketchtwo.png" alt="sketch" />
  </div>
</div>