<div class="skills_header">
  <h1><LinkTo @route="index">Roderick Developers</LinkTo> <b>|</b> Sketch</h1>
</div>


<div class="skills_body">
  <p>So let's talk about sketch. Sketch really helped me visualize what I wanted my site to look like. I heard amazing
    things about it and purchased it as soon as I started coding, and I'll tell you what..... It lives up to it's name.
    Sketch can do amazing things and I still have a lot to learn with it. That said I will continue to learn and use
    sketch with all my future projects. I made a great pixel perfect fav icon for an internship I'm doing with Design
    Monster with Sketch. </p>
</div>

<div class="skills_image_container">
  <div class="skills_image">
    <h>Working on New Things!</h>
    <img src="assets/images/sketchtwo.png" alt="sketch" />
  </div>
  <div class="skills_image">
    One of My First Ideas!
    <img src="assets/images/sketchthree.png" alt="sketch" />
  </div>
</div>