<div class="sketch_header">
    <h1>Sketch</h1>
</div>


<div class="sketch_body">
    <p>So let's talk about sketch. Sketch really helped me visualize what I wanted my site to look like. I heard amazing things about it and purchased it as soon as I started coding and knew I wanted to make website's and UI, and I'll tell you what..... It lives up to it's name. Sketch can do amazing things and I still have a lot to learn with it. That said I will continue to learn and use sketch with all my future projects. I made a great pixel perfect fav icon for an internship I'm doing with Design Monster with sketch. </p>
</div>
