<div class="skills_header">
  <h1>Visual Studio Code</h1>
</div>

<div class="skills_body">
  <p>It's an amazing code editor. I absolutely love it, and compared to others I tried when I first started this blows
    them out of the water, for me at least. With the amount of extensions they have I still have a lot to set up for my
    perfect experience, but I wouldn't look at any other editor's from here on out. And being able to respond to my Jira
    tickets from it is really awesome. The terminal commands right from my visual studio code makes my coding experience
    very productive and a pleasant experience. </p>
</div>

<div class="skills_image_container">
  <div class="skills_image">
    <h>Terminal in editor!</h>
    <img src="assets/images/studiocodeone.png" alt="studiocode" />
  </div>
  <div class="skills_image">
    <h>Split screens!</h>
    <img src="assets/images/studiocodetwo.png" alt="studiocode" />
  </div>
</div>
