<div class="skills_header">
  <h1>
    <LinkTo @route="index">Roderick Developers</LinkTo>
  </h1>

 <hr />

  <h1>Visual Studio Code</h1>
</div>

<div class="skills_body">
  <p>It's an amazing code editor. I absolutely love it. I had been using Brackets at first, and it did the job, but
    VSCode brings development to the next level, in my opinion. And being a new developer, ease of use and setup is
    important. I am able to respond to my Jira tickets from it, the terminal is right there, the color schemes and
    little tweaks cut down on errors--it simply makes my coding experience more productive and more pleasant. Teaching
    myself how to Develop is hard enough. I like that my editor helps me instead of hinders me. Check out <a href="https://code.visualstudio.com/">Visual Studio Code</a></p>
</div>

<div class="skills_image_container">
  <div class="skills_image">
    <h>Terminal in Editor!</h>
    <img src="assets/images/studiocodeone.png" loading="lazy" alt="studiocode" />
  </div>
  <div class="skills_image">
    <h>Visual Studio Code</h>
    <img src="assets/images/studiocodetwo.png" loading="lazy" alt="studiocode" />
  </div>
</div>
